.newsHeader {
  border-bottom: 1px solid rgba(3, 63, 67, 0.2);
  position: relative;
  margin: 30px 0 30px 0;
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    

    .newsHeader__title-border {
      height: 2px;
      position: absolute;
      background-color: #1147ab;
      width: 30%;
      bottom: 0px;
    }
    h1 {
      color: #1147ab;
      font-size: 36px;
      height: 100%;
      width: 100%;
      margin-bottom: 19px;
      padding-right: 10px;
      max-width: 700px;
      margin-right: 20px;
    }

    .btn {
      width: 100%;
      max-width: 144px;
      height: 100%;
      max-height: 50px;
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: #1147ab;
      border: 1px solid #1147ab;
      background-color: transparent;
      margin-bottom: 12px;
      span {
        margin: 14px 14px 14px 20px;
        font-size: 16px;
      }

      img {
        margin-right: 20px;
      }
    }
  }
}

@media (max-width: 991px) {
  h1 {
    font-size: 30px !important;
    margin: 0;
  }

  .newsHeader__title .btn {
    margin: 12px 0;
    width: 120px;
    height: 40px;
    span {
      margin: 8px 8px 10px 8px;
    }

    img {
      margin-right: 10px;
    }
  }
}

@media (max-width: 567px) {
  h1 {
    font-size: 20px !important;
    margin-bottom: 10px !important;
  }

  .newsHeader__title .btn {
    margin: 10px 0;
    width: 50px;
    height: 27px;
    span {
      margin: 8px 8px 10px 8px;
      display: none;
    }

    img {
      margin: 0;
    }
  }
}
