:root {
  --xxs: 400px;
  --xs: 567px;
  --sm: 767px;
  --md: 991px;
  --lg: 1199px;
  --xl: 1300px;
  --xxl: 1800px;
}

$blue: #1147ab;
$yellow: #ffd25e;
$red: #960707;
$black: #000;
$white: #fff;
$textBlack: #333;
$darkBlue: #0d308b;
$lightBlue: #0075ff;
$textGrey: #626262;
$redOrange: #ff0000;
$pink: #ffe5e5;
$orange: #ffb800;
$lightPink: #fff8e5;
